/* Модальное окно */

.backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 1;

    transition: opacity var(--fast-anim), visibility var(--fast-anim);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.backdrop--is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden; 
}




.modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    
    background-color: #FFFFFF;
    border-radius: 4px;
    transform: translate(-50%, -50%);

    padding: 40px;

    
    
}

.button-closing {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px;

    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;

    width: 30px;
    height: 30px;


}


.button-closing__icon {
    display: flex;
    justify-content: center;  
    align-items: center;  
    fill: #000000;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .button-closing:hover & {
        fill:#2196F3
    
    }

}


/* Разметка модального окна всередине*/

.modal-form__calling {
    display: block;
    margin: 0;
    text-align: center;
    padding-bottom: 28px;

    color: hsl(0, 0%, 13%);
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;

}

.modal-form__list {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0px;

  
    list-style-type: none;
    
}

.modal-form__item {
    position: relative;
    margin-bottom: 28px;
    &:last-child {
        margin-bottom: 0px;
    }
    
}


/* Список в форме */


.modal-form__prompt {
    display: block;
    position: absolute;
    top: -16px;
    left: 0;
    width: 25px;
    height: 14px;

    color: #757575;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    }


.modal-form__text {
    
    width: 448px;
    height: 40px;
    margin: 0px;
    padding: 0px 25px 0px 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 

    color: #212121;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    outline: 0;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus-within {  
        border-color: #2196F3;
        
    }

    &:focus  + .form-policy-group__icon {
        fill:#2196F3;
        cursor: pointer;
    }
  
}



.form-policy-group__icon {
    display: block;
    align-items: center;

    fill: #212121;

    position: absolute;
    width: 18px;
    height: 18px;
    top: 12px;
    left: 15px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}



  



.modal-form__comment {
    max-width: 448px;
    min-width: 448px;
    height: 120px;

    margin: 0px;
    padding: 12px 16px 12px 16px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    color: #212121;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    resize: none;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }
    
    &:focus-within{
        outline: 0;
        border-color: #2196F3;
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;
        
    }
}






/* Согласие договор */


.form-policy-group {
    display: flex;
    justify-content:center;
    align-items: center;
    
    box-sizing: border-box;
    padding: 20px 0px 30px 0px;
    

    width: 425px;
    height: 15px;
      
}


.form-policy-group__agreement {
    display: flex;
    justify-content: center;
    

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;

    margin: 0px;

    visibility: hidden;

    &:checked  + .form-policy-group__checkbox .form-policy-group__icon {
        fill: #FFFFFF;
    }
    
    &:checked + .form-policy-group__checkbox {
        border-style: none;
        background-color: #2196F3;
        outline-color:#2196F3;
       
    
    }

}


.form-policy-group__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 5px;

    width: 15px;
    height: 15px;

    outline: 2px solid #212121;
    outline-offset: -2px;

    border-radius: 2px;


    transition-property: outline-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    position: relative;

}


.form-policy-group__icon {
    position: absolute;
    top: 25%;
    left: 18%;
    fill: #FFFFFF;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}




.form-policy-group__link {
    padding-left: 5px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: #2196F3;

    &:visited {
        color:#2196F3;
    }
    
}



.button-submit {
    display: block;
    box-sizing: border-box;
    align-items: center;
    margin: 0px auto;
    padding: 0px 2px;
    

    width: 200px;
    height: 50px;
    border-style: none;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;

    
}
