/*Кнопки фильтра портфолио*/
 
.card-set {
    display: block;
    box-sizing: border-box;
    margin: auto;
    padding: 94px 0px;
}
 
.card-set__header-navigation-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 611px;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0px;
    
}
 
.card-set__header-navigation-item {
  margin-right: 8px;
  border-radius: 5px;
 
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}
}
 
.card-set__button {
    background-color: #F5F4FA;
    border:none;
 
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
 
    cursor: pointer;
 
    display: block;
    border-radius: 5px;
    padding: 6px 22px;
   
    
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
  &:focus,
  &:hover {
    background-color: var(--blue);
    color: var(--white);
  }
 
  }





