body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;

    line-height: 1.14;
    letter-spacing: 0.02em;
   
}


:root {
    --blue: #2196F3;
    --c212121: #212121;
    --white: #FFFFFF; 
}
