/* Список проектов */
 
.card-set__caption-first {
    opacity: 0;
    pointer-events: none;
   
}

 
.cart-set__list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
 
    margin: 0;
    padding: 0;
    list-style-type: none;   
    
}
 
.cart-set__item {
    width: 370px;
    height: 404px;
    padding: 0;
    border-bottom-style:solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: #ECECEC;
 
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:nth-child(3n + 1) {
        margin-left: 0;
    }
     
    &:nth-child(-n + 3) {
        margin-top: 0;
    }
    
    
}
 

 
.cart-set__description {
    padding: 20px 24px;
    margin: 0px;
    
}
 
.cart-set__name {
    color: var(--c212121);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    display: block;
    box-sizing: border-box;
    margin: 0px 0px 8px 0px;
    padding: 0px;
 
    &:nth-child(3n + 1) {
        margin-left: 0;
    }
    
    &:nth-child(-n + 3) {
        margin-top: 0;
    }
 
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);  
    }
}
 
.cart-set__product {
    color: #757575;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    display: block;
    box-sizing: border-box;
    margin: 8px 0px 0px 0px;
    padding: 0px;
    
}




.cart-set__text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}





.cart-set__overlay-container {
    width: 370px;
    height: 294px;
    position: relative;
 
    overflow: hidden;

    &::before {
        content: '';
     
        display: block;
        box-sizing: border-box;
        background-color: rgba(33, 150, 243, 0.9);
     
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateY(100%);
     
        opacity: 0;  
        
        transition-property: transform, opasity;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     
    }

    .cart-set__item:hover & {
    opacity: 1;
    transform: translateX(0);
}

}
 

 
.cart-set__overlay-point {
 
    display: block;
    box-sizing: border-box;
    
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    
    position: absolute;
    top: 63px;
    left: 24px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
 
    opacity: 0;
 
    transition-property: transform, opasity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   
    .cart-set__item:hover & {
    opacity: 1;
    transform: translateX(0);
 
}
  
 
}
 





